{
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "html",
                "printWidth": 120,
                "tabWidth": 4,
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ]
}
